// Azure Data Studio color variables
$ads-purple: #68217A;
$ads-blue: #00B4FF;
$ads-dark-gray: #252526;
$ads-light-gray: #333333;
$ads-text: #CCCCCC;
$ads-border: #404040;

// Define a base font family
$font-family-base: Roboto, "Helvetica Neue", sans-serif;
